.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.header{
  background-color: black;
  height: 90px;
}
nav{
  height: 100%;
}
nav ul{ 
height:inherit;
display:flex;
align-items:center;
width: 100%;
justify-content:flex-end;
list-style-type:none;
margin-bottom: 0;

}
nav ul a {
  color:#fff;
  text-decoration: none;
  padding: 0 30px;
  font-size: 18px;
}

nav img {
  width: 60px;
}
.product-item{
  
  padding: 15px;
}
.products-list-container img {
  width: 120px;
  height: 160px;
  text-align: center;
}
.img-container{
  margin-top:10px;
  margin-bottom:10px;
  text-align: center;
}
.products-list-container{
  margin-top:40px;
}
.products-list-container .card {
  padding: 15px;
  text-align: left;
  display: flex;
  width: 100%;
  border-radius: 10px;
    min-height: 380px;

}
.align-btm{
  margin-top: auto!important;
}
.btn-success{
  border: 1px solid green;
  background-color: green;
  height: 40px;
  min-width: 80px;
  padding: 0 20px;

}
.filter-contiainer{
  background-color: #aba;
  display: flex;
  padding: 0 10px;
  padding-bottom: 8px;
  padding-top: 5px;
  border-radius: 5px;
  
}
.btn-primary {
  background: #222;
    border: 1px solid #333;
    height: 40px;
    min-width: 80px;
    padding: 0 20px;
}
.category{
  text-transform: uppercase;
    font-size: 10px;
    font-weight: 700;
    width: 100%;
    display: flex;
    color: #717171;
}
.form-check-input{
  height: 25px;
  width: 3em!important;
}
.cart-container h1{
  width: 100%;
}
.products-list-container .card-text{
  height: 60px;
  overflow: hidden;
}
.w-100{
  width: 100%;
}
.align-all-center{
  align-items: center;
  justify-content: center;
}
.icon-container:hover{
  cursor: pointer;
}
.icon-container{
padding: 8px 15px;

}
.products-list-container .card-title{
  min-height: 50px;
  font-weight: 600;
}
.badge{
background: #e69f00;
border-radius: 50%;
font-size: 10px;
padding: 10px;
height: 18px;
width: 18px;
display: flex;
justify-content: center;
align-items: center;
position: relative;
top: -3px;
}
.cart-item-name {
  text-align: left;
padding:  10px;
background: #efefef;
margin-bottom: 10px;
border-radius: 5px;
}
.cart-price-item{
  position: relative;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    left: -30px;
    font-weight: 600;
}

@media screen and (min-width: 320px) {
  .filter-items {
    display: block;
  }
}
@media screen and (min-width: 960px) {
  .filter-items {
    display: flex;
  }
}